[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=ftp-server

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=ftp-server
X-SuSE-YaST-AutoInstSchema=ftp-server.rnc

Icon=yast-ftp-server
Exec=xdg-su -c "/sbin/yast2 ftp-server"

Name=FTP Server
GenericName=Module for configuration FTP daemon (vsftpd or pure-ftpd)
StartupNotify=true
